@model IEnumerable<InventoryManagementCore.Models.Models.Bill>

@{
    ViewData["Title"] = "Index";
}

<div class="row">

    <h1 class="col-10 display-4" style="font-size:45px">View Bills</h1>
    <p class="col-2" style="margin-top:1%">
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
</div>

<hr style="border: 2px solid #6c757d; " />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BillDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillTotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillTotalPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BillDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillTotalCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillTotalPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.BillId">Edit</a> |
                    <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.BillId">Details</a> |
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.BillId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
